<!DOCTYPE html>
<html>
<head>
  <!-- <meta charset="utf-8" /> -->
  <title>idea-o-rama</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->

  <%= stylesheet_link_tag "1140" %>
  <!--[if lte IE 9]>
  <%= stylesheet_link_tag "ie.css" %>
  <![endif]-->
  <%= stylesheet_link_tag "layout" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="user_nav">
  <% if user_signed_in? %>
  Hi, <%= current_user.email %>
  |
  <%= link_to "Logout", destroy_user_session_path %>
  <% else %>
  <%= link_to "Registrieren", new_user_registration_path %>
  | 
  <%= link_to "Anmelden", new_user_session_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
